.container{
    .row{
        .heading{
            margin: 40px 0px;
        }
    }
}

ul.list-group{
    margin-top: 40px;
}

// .list-group{
//     .list-group-item:hover{
//         background-color: #0D6EFD;
//         color: white;
//     }
// }
.checkbox{
    line-height: 40px;
}
body{
    font-family: Montserrat, sans-serif;
}